@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --verde-joia: #23BE99;
    --rosa-joia: #BB23BE;
    --azul-pastel: #BCEBDF;
    --rosa-pastel: #EABCEB;
    --fonte-cursiva: 'Parisienne', cursive;
    --fonte-roboto: 'Roboto', sans-serif;
    --fonte-chique: 'Playfair Display', serif;
}

.cursiva {
    font-family: var(--fonte-cursiva);
}

.roboto {
    font-family: var(--fonte-roboto);
}

.fonteChique {
    font-family: 'Playfair Display', serif;
}

#menuBox {
    padding: 2.5vw 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoMenu, .menuItens, #fraseIntrodução, #slogan {
    color: var(--rosa-pastel)
}

.logoMenu {
    font-size: 5vw;
}

.menuItens {
    text-decoration: none;
    padding: 0 2.5vw;
    font-size: 2vw;
    text-transform: uppercase;
}

.menuItens:hover {
    color: var(--azul-pastel);
}

nav > ul {
    list-style: none;
}

.menuFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#heroRowGradient {
    height: 100vh;
    background-image: linear-gradient(to bottom, #000000b6, #00000086), url("..\\imagens\\Bolo Hero Row.jpg");
    background-size: cover;
}

/*Hero Row Estilo*/

#caixaTextoHeroRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fraseIntrodução, #slogan {
    padding: 2vw 0;
}

#fraseIntrodução {
    font-size: 7vw;
}

#slogan {
    font-size: 4vw;
}