@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display&family=Roboto&display=swap');
@keyframes cor-fundo-botao {
    0% {
        background-color: var(--rosa-joia);
    }
    50% {
        background-color: var(--verde-joia);
    }
    100% {
        background-color: var(--rosa-joia);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    scroll-behavior: smooth;
}

:root {
    --verde-joia: #23BE99;
    --rosa-joia: #BB23BE;
    --azul-pastel: #BCEBDF;
    --rosa-pastel: #EABCEB;
    --fonte-cursiva: 'Parisienne', cursive;
    --fonte-roboto: 'Roboto', sans-serif;
    --fonte-chique: 'Playfair Display', serif;
}

.cursiva {
    font-family: var(--fonte-cursiva);
}

.roboto {
    font-family: var(--fonte-roboto);
}

.fonteChique {
    font-family: 'Playfair Display', serif;
}

#menuBox {
    padding: 2.5vw 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoMenu, .menuItens, #fraseIntrodução, #slogan, .fa-brands {
    color: var(--rosa-pastel);
}

.logoMenu {
    font-size: 5vw;
}

.menuItens, #minhaHistóriaTexto {
    font-size: 1.8vw;;
}

.menuItens {
    padding: 0 2.5vw;
}

.menuItens, .menuItensFooter {
    text-decoration: none;
    text-transform: uppercase;
}

.menuItens:hover, .fa-brands:hover {
    color: var(--azul-pastel);
    cursor: pointer;
}

nav > ul {
    list-style: none;
}

.menuFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#heroRowGradient {
    height: fit-content;
    padding-bottom: 3.5vw;
    background-image: linear-gradient(to bottom, #000000b6, #00000086), url("..\\imagens\\Bolo Hero Row.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/*Hero Row Estilo*/

#heroRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#caixaTextoHeroRow {
    display: flex;
    height: 30vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 15vw;
}


#fraseIntrodução {
    font-size: 7vw;
}

#slogan {
    font-size: 4vw;
}

#botaoHeroRow {
    width: 30vw;
    font-size: 3vw;
    padding: 0.1vw;
    color: black;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    background-color: var(--rosa-joia);
    animation-name: cor-fundo-botao;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#botaoHeroRow:hover {
    transform: scale(1.1);
}

.fa-brands {
    font-size: 4vw;
    padding: 1vw 4vw 1vw 0;
}

main > #heroRow > #menuLateralRedesSociais > ul {
    list-style: none;
}

/*Minha História Estilo*/

#minha-história, #galeria, #contatos {
    padding: 3.5vw 10vw;
}

#minha-história {
    background-color: var(--azul-pastel);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#caixaTextoEstilo {
    width: 40vw;
    line-height: 2.7vw;
}

#minhaHistóriaTitulo, #galeriaTitulo {
    font-size: 3vw;
    padding-bottom: 3.5vw
}

#minhaHistóriaTexto {
    text-align: justify;
}

#fotoDonaMaria {
    width: 30vw;
    height: 40vw;
    border-radius: 1.5vw;
    box-shadow: 0 0.3vw #00000030;
}

/*Galeria Estilo*/

#galeria {
    background-color: var(--rosa-pastel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#galeriaTitulo {
    text-align: center;
}

#bolosImagemCaixa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70vw;
    height: fit-content;
    row-gap: 1vw;
}

.boloImagem {
    width: 22.5vw;
    height: 20vw;
    border-radius: 0.8vw;
    box-shadow: 0 0.3vw #00000030;
}

.boloImagem:hover {
    transform: scale(1.2);
    z-index: 1;
}

.boloImagem:not(:hover) {
    opacity: 70%;
}

/*Footer Estilo*/

#contatosFlexBox {
    background-color: var(--azul-pastel);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#logoFooterFlexBox, #contatos, #menuFooter {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#logoFooterCursiva {
    font-size: 4vw;
}

#logoFooterFonteChique, #telefone, #email {
    text-align: center;
}

#logoFooterFonteChique {
    font-size: 3vw;
    margin-top: -1vw;
}

#telefone, #email {
    font-size: 1.4vw;
}

#contatosFlexBox > #contatos > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contatosFlexBox > #contatos > ul > li > .fa-brands {
    color: #000000;
    padding: 1vw;
    font-size: 3vw;
}

#contatosFlexBox > #contatos > ul > li > .fa-brands:hover, .menuItensFooter:hover {
    color: var(--rosa-joia);
}


#menuFooter > ul > li {
    list-style: none;
    text-align: center;
}

.menuItensFooter {
    list-style: none;
}

.menuItensFooter {
    color: #000000;
    font-size: 1.5vw;
}