@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display&family=Roboto&display=swap');
@keyframes cor-fundo-botao {
    0% {
        background-color: var(--rosa-pastel);
    }
    50% {
        background-color: var(--verde-pastel);
    }
    100% {
        background-color: var(--rosa-pastel);
    }
}

@keyframes correr {
    0% {
        margin-left: 0%;
    }

    50% {
        margin-left: -400%;
    }

    100% {
        margin-left: 0%;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    scroll-behavior: smooth;
}

:root {
    --verde-joia: #23BE99;
    --rosa-joia: #BB23BE;
    --verde-pastel: #BCEBDF;
    --rosa-pastel: #EABCEB;
    --fonte-cursiva: 'Parisienne', cursive;
    --fonte-roboto: 'Roboto', sans-serif;
    --fonte-chique: 'Playfair Display', serif;
}

.cursiva {
    font-family: var(--fonte-cursiva);
}

.roboto {
    font-family: var(--fonte-roboto);
}

.fonteChique {
    font-family: 'Playfair Display', serif;
}

#menuBox {
    padding: 2.5vw 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoMenu, .menuItens, #fraseIntrodução, #slogan, .fa-brands, .fa-bars {
    color: var(--rosa-pastel);
}

.logoMenu {
    font-size: 5vw;
}

.menuItens, #minhaHistóriaTexto {
    font-size: 1.8vw;;
}

.menuItens {
    padding: 0 2.5vw;
}

.menuItens, .menuItensFooter {
    text-decoration: none;
    text-transform: uppercase;
}

.menuItens:hover, .fa-brands:hover {
    color: var(--verde-pastel);
    cursor: pointer;
}

nav > ul {
    list-style: none;
}

.menuFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fa-bars, #botaoMenuHamburguer {
    display: none;
}

#heroRowGradient {
    height: fit-content;
    padding-bottom: 3.5vw;
    background-image: linear-gradient(to bottom, #000000b6, #00000086), url("..\\imagens\\Bolo Hero Row.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/*Hero Row Estilo*/

#heroRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#caixaTextoHeroRow {
    display: flex;
    height: 30vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 15vw;
}


#fraseIntrodução {
    font-size: 7vw;
}

#slogan {
    font-size: 4vw;
}

#botaoHeroRow {
    width: 30vw;
    font-size: 3vw;
    padding: 0.1vw;
    color: black;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    background-color: var(--rosa-joia);
    animation-name: cor-fundo-botao;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#botaoHeroRow:hover {
    transform: scale(1.1);
}

.fa-brands {
    font-size: 4vw;
    padding: 1vw 4vw 1vw 0;
}

main > #heroRow > #menuLateralRedesSociais > ul {
    list-style: none;
}

/*Minha História Estilo*/

#minha-história, #galeria, #contatosFlexBox {
    padding: 3.5vw 10vw;
}

#minha-história {
    background-color: var(--verde-pastel);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#caixaTextoEstilo {
    width: 40vw;
    line-height: 2.8vw;
}

#minhaHistóriaTitulo, #galeriaTitulo {
    font-size: 3vw;
    padding-bottom: 3.5vw
}

#minhaHistóriaTexto {
    text-align: justify;
}

#fotoDonaMaria {
    width: 30vw;
    height: 40vw;
    border-radius: 1.5vw;
    box-shadow: 0 0.3vw #00000030;
}

/*Galeria Estilo*/

#galeria {
    background-color: var(--rosa-pastel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#galeriaTitulo {
    text-align: center;
}

#bolosImagemCaixa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70vw;
    height: fit-content;
    row-gap: 1vw;
}

.boloImagem {
    width: 22.5vw;
    height: 18vw;
    border-radius: 0.8vw;
    box-shadow: 0 0.3vw #00000030;
}

.boloImagem:hover {
    transform: scale(1.2);
    z-index: 1;
    cursor: none;
}

.boloImagem:not(:hover) {
    opacity: 70%;
}

/*Footer Estilo*/

#contatosFlexBox {
    background-color: var(--verde-pastel);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#logoFooterFlexBox, #contatos, #menuFooter {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#logoFooterCursiva {
    font-size: 4vw;
}

#logoFooterFonteChique, #telefone, #email {
    text-align: center;
}

#logoFooterFonteChique {
    font-size: 3vw;
    margin-top: -1vw;
}

#telefone, #email {
    font-size: 1.4vw;
}

#contatosFlexBox > #contatos > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contatosFlexBox > #contatos > ul > li > .fa-brands {
    color: #000000;
    padding: 1vw;
    font-size: 3vw;
}

#contatosFlexBox > #contatos > ul > li > .fa-brands:hover, .menuItensFooter:hover {
    color: var(--rosa-joia);
}


#menuFooter > ul > li {
    list-style: none;
    text-align: center;
}

.menuItensFooter {
    list-style: none;
}

.menuItensFooter {
    color: #000000;
    font-size: 1.5vw;
}

/*Tela para dispositivos menores*/

@media only screen and (max-width: 500px) {

    /*Menu Estilo*/

    #menuLateralRedesSociais, #minha-história > figure {
        display: none;
    }

    #menuEstado {
        background-color: var(--rosa-pastel);
        position: absolute;
        top: 15vw;
        width: 100%;
        display: none;
    }

    .menuItens, #minhaHistóriaTexto {
        font-size: 3vw;
        color: #000000;
    }

    .menuItens:hover{
        color: var(--verde-joia)
    }

    nav > .menuFlex > li {
        margin: 2vw;
    }

    .menuFlex {
        display: flex;
        flex-direction: column;
    }
    
    .logoMenu {
        font-size: 8vw;
    }

    .fa-bars {
        display: inline;
        font-size: 5vw;
    }

    #menuBox {
        padding: 2.5vw 0vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #botaoMenuHamburguer {
        background: none;
        border: none;
        display: inline;
    }

    /*Hero Row Estilo*/

    #heroRow {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #heroRowGradient {
        background-size: contain;
    }

    #caixaTextoHeroRow {
        display: flex;
        height: 35vw;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #fraseIntrodução {
        font-size: 9vw;
    }
    
    #slogan {
        font-size: 5vw;
    }

    #botaoHeroRow {
        width: 50vw;
        font-size: 4.5vw;
        padding: 0.1vw;
    }

    /*Minha História Estilo*/

    #minhaHistóriaTitulo, #galeriaTitulo {
        font-size: 6vw;
        padding-bottom: 4vw;
    }

    #minha-história {
        background-color: var(--verde-pastel);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #minhaHistóriaTexto {
        text-align: center;
    }

    #caixaTextoEstilo {
        width: 75vw;
        line-height: 5vw;
    }

    /*Galeria Estilo*/

    #galeria {
        background-color: var(--rosa-pastel);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #galeriaTitulo {
        text-align: center;
    }
    
    #bolosImagemCaixa {
        display: flex;
        width: 75vw;
        border-radius: 0.5vw;
        overflow: hidden;
        height: fit-content;
    }
    
    .boloImagem {
        width: 75vw;
        height: 75vw;
        margin: 0 5vw;
        border-radius: 1vw;
        animation-name: correr;
        animation-play-state: running;
        animation-timing-function: linear;
        animation-duration: 45s;
        animation-iteration-count: infinite;
    }
    
    #bolosImagemCaixa:hover .boloImagem {
        cursor: pointer;
        animation-play-state: paused;
    }

    .boloImagem:hover {
        transform: scale(1);
        cursor: pointer;
    }
    
    .boloImagem:not(:hover) {
        opacity: 100%;
    }
}